*.aux
*.bbl
*.log
*.toc
*.zip
*.dvi
*.blg
*.nav
*.snm
*.spl
*.ptb
*.pdf
*~
all.bib
medium.bib
short.bib
*_aux
*.out
*.agdai
Bug*.agda
llncs.dem
llncs.doc
llncs.ind
vers1/readme.txt
/cmcs16/llncs
/cmcs16/html
/jfp15/jfp2egui.tex
/vers1/splncs.bst
/vers1/splncs03.bst
/vers1/splncs_srt.bst
/vers1/sprmindx.sty
/vers1/aliascnt.sty
/vers1/llncsdoc.sty
/vers1/remreset.sty
/cmcs16/talkCMCS
/jfp15/Cambridge_Journals_APC_price_list_3.1.xlsx
/jfp15/JFP-2014-0017 - Decision on Manuscript.eml
/jlamp17/elsarticle*
/jlamp17/src/latex
/jlamp17/latex
/jlamp17/jlamp17a.tex
/jfp15/html/
/jfp15/jfp16-agda.tgz
/jfp15/jfp15
